LOG_LEVEL=
RPC_URL=
CHAIN_ID=
APP_PORT=
CDP_SERVICE_URL=

POREP_SERVICE_ROLE_WALLET_PK=
ORACLE_ROLE_WALLET_PK=
TERMINATION_ORACLE_ROLE_WALLET_PK=
FILECOIN_PAY_ROLE_WALLET_PK=

JOB_TRIGGER_AUTH_TOKEN=

TRIGGER_SLI_JOB_INTERVAL_CRON=
TRIGGER_CLAIMS_TRACKING_JOB_INTERVAL_CRON=
TRIGGER_SETTLEMENT_BOT_JOB_INTERVAL_CRON=
TRIGGER_TERMINATE_DEAL_JOB_INTERVAL_CRON=
TRIGGER_END_EPOCH_DEAL_JOB_INTERVAL_CRON=
TRIGGER_SYNC_DEALS_JOB_INTERVAL_CRON=

SLI_ORACLE_CONTRACT_ADDRESS=
CLIENT_CONTRACT_ADDRESS=
POREP_MARKET_CONTRACT_ADDRESS=
SP_REGISTRY_CONTRACT_ADDRESS=
FILECOIN_PAY_CONTRACT_ADDRESS=
SLI_SCORER_CONTRACT_ADDRESS=

DATABASE_URL=
DMOB_DATABASE_URL=
